test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
test/widgets/
!test/widgets/DateTimePicker.mpk
*.launch
*.tmp
*.lock
.idea/

node_modules/
*DS_Store*
.vscode/
*.bak
